footer {
  background-color: #5be7c4;
  text-align: center;
  padding-bottom: 20px;
  #footer-logo {
    height: 60px;
    margin: 40px 0;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  li {
    margin: 0 10px;
  }
  a {
    color: white;
    font-size: 20px;
  }
}
