footer {
  background-color: #5be7c4;
  text-align: center;
  padding-bottom: 20px;
}

footer #footer-logo {
  height: 60px;
  margin: 40px 0;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer li {
  margin: 0 10px;
}

footer a {
  color: white;
  font-size: 20px;
}
