a {
  text-decoration: none;
}

p {
  font-weight: 300;
  padding-top: 10px;
}

li {
  list-style: none;
}

#mail {
  font-weight: bold;
  text-decoration: none;
  color: #5be7c4;
}

.active {
  border-bottom: 1px solid #5be7c4;
}

.gray {
  background-color: rgba(0,0,0,0.07);
}
