
@media screen and (max-width: 700px) {
  .skills {
    width: 90%;
  }

  .typewriter p {
    font-size: 40px;
  }

  .project {
    width: 90%;
  }

  .project-description p {
    font-size: 18px;
    line-height: 30px;
  }

  .preview {
    margin-top: 30px;
    margin-bottom: 250px;
  }

  .portfolio-container .portfolio-thumbnail {
    margin: 20px 30px;
  }

  .features-container {
    flex-direction: column;
    flex-basis: auto;
  }

  .features .box {
    margin: 0 auto 40px;
    height: 200px;
    width: 80%;
    flex-basis: 31%;
    background-color: #A3ECDA;
    position: relative;
    top: -80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    color: white;
  }

  .features .box .content {
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
  }

  .features .box .content p,
  .features .box .content ul li {
    font-size: 13px;
    line-height: 20px;
  }

  .features .box .content ul {
    margin-top: 10px;
  }

  .features .box .content ul li {
    list-style: disc;
    margin-left: 20px
  }
  .features {
    height: auto;
    width: 100%;
  }

  .about-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 0 100px;
  }

}
